body {
  font-family: Arial Black;
  font-weight: bolder;
  padding: 20px;
  background-image:url('assets/img/back1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header/Blog Title    background: #708090 */
.header {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  /* background: blueviolet; */
  background-image:url('assets/img/banner.jpg');
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 25%;
  padding-left: 175px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 25px;
}
/* index right column*/
.column {
  float: right;
  width: 55%;
  padding-right: 85px;
}

/* index bottom column*/
.columnr {
  float: left;
  width: 55%;
  padding-left: 25px;
}

.columnz {
  float: center;
  width: 90%;
  padding-left: 75px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 10px;
}

.fakeimg1 {
  background-image: url('assets/img/green.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.fakeimg2 {
  background-image: url('assets/img/golang.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.fakeimg3 {
  background-image: url('assets/img/jslogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.mturkimg {
  background-image: url('assets/img/mturklogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.appimg {
  background-image: url('assets/img/applogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.proimg {
  background-image: url('assets/img/prologo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.cbimg {
  background-image: url('assets/img/cblogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.abraimg {
  background-image: url('assets/img/abralogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.bchainimg {
  background-image: url('assets/img/bchainlogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.gguimg {
  background-image: url('assets/img/ggulogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.swagimg {
  background-image: url('assets/img/swaglogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.rxpimg {
  background-image: url('assets/img/rxplogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.instaimg {
  background-image: url('assets/img/instalogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.qmeeimg {
  background-image: url('assets/img/qmeelogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.meimg {
  background-image: url('assets/img/melogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

.gpimg {
  background-image: url('assets/img/gplogo.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0px;
}

/* Add a card effect for articles */
.card {
  background-color: slategrey;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.altcard {
  background-image:url('assets/img/banner2.jpg');
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: Auto;
  height: Auto;
  text-align: center;
  color: snow;
  background-image:url('assets/img/banner.jpg');
  
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}


blockquote {
  background: #808080;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.special-card {
  background-color: rgba(245, 245, 245, 0.6);
  color: #201719;
}

